<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Tienda</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" routerLink="">link</a>
          </li>
         
        </ul>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  jhon vargas
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><a class="dropdown-item" href="#">Sell and purchase</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">logaut</a></li>
                </ul>
            </li>
       
     
        <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div class="container_menu">
        <img src="img/Tecno.png" alt="" class="logo">
         
         
         <div class="menu">
             <input type="checkbox" id="check_menu">
             <label for="check_menu" id="label_check">
                 <i class="fas fa-bars icon_menu"></i>
             </label>
             <nav>
                 <ul>
                     <li><a href="#" id="selected"></a></li> 
                     
                     <li><a href="#">Nosotros</a>
                         
                     </li>
                     <li><a href="#">Portafolio</a>
                         <ul>
                             <li><a href="#">Diseño Web</a></li>
                             <li><a href="#">Mantenimiento</a></li>
                             <li><a href="#">Ordenadores</a></li>
                             <li><a href="#">Celulares</a></li>                    
                         </ul>
                     </li>
                    
                     <li><a href="#">Ventas</a>
                         <ul>        
                             <li><a href="#">Repuesto Original</a></li>
                             <li><a href="#">Repuesto Generico</a></li>
                             <li><a href="#">Accesorio</a></li>
                         </ul>
                     <li><a href="#">Contactos</a>
                         <ul>
                             <li><a href="#">Luis </a></li>
                             <li><a href="#">Jhon Vargas</a></li>
                         </ul>
                     </li>
                 </ul>    
             </nav>

             
         </div>

     </div>
    
    
   
    
</header>